/* Color Palette */
:root {
  --primary-color: #b42bbb;
  --background-color: #FFFFFF;
  --text-color: #000000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
}
.navbar-brand {
  color: #000000;
}

.cv-container {
  padding: 40px;
}

.profile {
  text-align: center;
  margin-bottom: 40px;
}

.profile-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.personal-info {
  text-align: center;
}

.section {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 20px;
  color: var(--primary-color);
}

.project-details {
  text-align: center;
  margin-top: 20px;
}

.project-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.skills {
  column-count: 2;
  column-gap: 40px;
}

.languages,
.organizations {
  column-count: 2;
  column-gap: 40px;
}
.employee-name {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

/* Skill Styling*/
.skills-frame {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
}

.skills-list {
  list-style-type: disc;
  padding-left: 20px;
}

.skills-list li {
  margin-bottom: 10px;
}
/* Tabs Styling */
.nav-tabs {
  border-bottom: 2px solid var(--primary-color);
  background-color: var(--background-color);
}

.nav-tabs .nav-link {
  color: var(--text-color);
  background-color: var(--light-color);
  border: 1px solid var(--primary-color);
  border-radius: 0;
}

.nav-tabs .nav-link.active {
  color: var(--accent-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.nav-tabs .nav-link:hover {
  border-color: var(--primary-color);
}

@media (max-width: 768px) {
  .profile {
    margin-bottom: 20px;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .project-image {
    margin-bottom: 10px;
  }
  
  .skills,
  .languages,
  .organizations {
    column-count: 1;
  }
}

/* Additional CSS */
.nav-link {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
  text-decoration: none;
  margin-right: 10px;
}

.nav-link.active {
  background-color: var(--primary-color);
  color: white;
}
